.cross-button {
  @include reset-button;

  position: relative;
  width: 40px;
  height: 40px;
  border-radius: 8px;

  @include hover {
    background-color: var(--color-blue);
  }

  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 6px;
    width: 70%;
    height: 2px;
    background-color: var(--color-dark);
    border-radius: 5px;
  }

  &::before {
    rotate: 45deg;
  }

  &::after {
    rotate: -45deg;
  }
}
