body {
  display: flex;
  flex-direction: column;
  font-family: var(--font-family-base);
  letter-spacing: -0.03em;
  color: var(--color-light);
  background-color: var(--color-dark);
}

main {
  flex-grow: 1;
}

a,
button,
label,
input,
textarea {
  transition-duration: var(--transition-duration);
}

a {
  color: inherit;

  &[class] {
    text-decoration: none;
  }
}
