:root {
  --color-light: #ffffff;

  --color-dark: #0a0a0a;
  --color-dark-medium: #1e1e1e;
  --color-dark-light: #292934;

  --color-pink: #ff2d55;
  --color-yellow: #ffd83b;
  --color-blue: #7eb0f2;
  --color-gray: #474758;
  --color-dark-red: #35000a;

  --gradient-gray-red: linear-gradient(
    45deg,
    var(--color-dark-light) 64%,
    var(--color-dark-red) 136%
  );
  --gradient-red-gray: linear-gradient(
    45deg,
    var(--color-dark-red) 64%,
    var(--color-dark-light) 136%
  );
  --gradient-gray: linear-gradient(rgba(30, 30, 30, 0.7), rgba(30, 30, 30, 0.7));

  --border: 1px solid var(--color-accent-gray);

  --font-family-base: "Montserrat", sans-serif;

  --container-width: 1180px;
  --container-padding-x: 370px;

  --transition-duration: 0.2s;

  @include desktop {
    --container-padding-x: 100px;
  }

  @include tablet {
    --container-padding-x: 50px;
  }

  @include mobile {
    --container-padding-x: 20px;
  }
}
